<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<html>
    <head>
        <title> {{ title }} - Rock, Paper, Scissors</title>
    </head>
    <body>
        
        <div id="container_left"> 
        <nav id="navbar">
            <ul>
                <li>
                    <a href="/welcome">How to Play</a>
                </li>
                <li>
                    <a href="/play">Play Game</a>
                </li>
            </ul>
        </nav>
        </div>
        <div id="container_middle">
            <div id="title">
                <h1>
                    Rock Paper Scissors
                </h1>
            </div>
            <div id="results_content">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <div id="container_right">

        </div>
    </body>
</html>