{% extends "base.html" %}
{% block content %}

<h2 id= "play_title">
    How to Play
</h2>
<ul id ="how_to">
    <li>
        Two players.
    </li>
    <li>
        Players say "Rock, Paper, Scissors" together with their hands in a fist.
    </li>
    <li>
        On "Scissors", players pick one of three moves to show with their hand: Rock (demonstarted by a fist), Paper (demonstrated by holding out a flat hand), Scissors (demonstrated with two fingers spread similar to a sideways peace sign)
    </li>
    <li>
        if players use the same move, it's a draw.
    </li>
    <li>
        If one player chooses rock and the other scissors, winner is rock (rock crushes scissors).
    </li>
    <li>
        If one player chooses paper and the other rock, winner is paper (paper covers rock).
    </li>
    <li>
        If one player chooses scissors and the other paper, winner is scissors (scissors cut paper)
    </li>
</ul>

{% endblock %}